<% if notice || alert %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong><%= notice %> <%= alert %></strong>
      <button type="button btn-transparent" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" class="bg-transparent">&times;</span>
      </button>
    </div>
<% end %>